<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MySqlConn"
    providerName="System.Data.SqlClient"
    connectionString="server=127.0.0.1:3307;User Id=root;password=root;database=live_results_db"/>

    <add name="connectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\live_results_db.mdb" providerName="System.Data.OleDb"/>     
    <add name="connString" connectionString="Data Source=localhost; Database=live_results_db; User ID=root; Password='root'; Port=3307"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2">
        <assemblies>
          <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
</configuration>
